<div class="container mt-5">
    <div class="conntainer mt-4">
        <h3>List cart</h3>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
                <th scope="col">Quantity</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
                <%
                cart.map(x =>{%>
                        <tr>
                        <th scope="row"><%=x.item.name%></th>
                        <td scope="row"><%=x.item.price%></td>
                        <td scope="row"><img src="<%=x.imageSrc%>" alt="" width="70px"></td>
                        <td scope="row">
                         
                            <a href="/cart/increase/<%=x.item._id%>" class="btn btn-dark">+</a>
                        
                          <%=x.quantity%>
                       
                            <a href="/cart/reduce/<%=x.item._id%>" class="btn btn-dark">-</a>
                   
                         
                        </td>
                        <td scope="row">
                         
                                <%-include('../parts/formDelete',{url:`/cart/delete/${x.id}`})%>
                             
                        </td>
                      </tr>
                    <%})
                %>           
            </tbody>
          </table>
    </div>  
    <div class="container total">
      <h4>Tổng tiền: </h4>
    </div>
</div>