<div class="container mt-5">
    <div class="conntainer mt-4">
        <h3>List cart</h3>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
                <th scope="col">Quantity</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
                <%
                cart.map(x =>{%>
                        <tr id="tr_cart_<%= x.id %>">
                        <th scope="row"><%=x.item.name%></th>
                        <td scope="row"><%=x.item.price%></td>
                        <td scope="row"><img src="<%=x.imageSrc%>" alt="" width="70px"></td>
                        <td scope="row">
                         
                            <a href="/cart/increase/<%=x.item._id%>" class = "increaseCart" id="<%=x.item._id%>"><i class="fas fa-plus"></i></a>
                          <span id="qty<%=x.item._id%>"><span id="qty2<%=x.item._id%>"><%=x.quantity%></span></span> 
                          
                       
                            <a href="/cart/reduce/<%=x.item._id%>" class = "reduceCart" id="<%=x.item._id%>"><i class="fas fa-minus"></i></a>
                   
                         
                        </td>
                        <td scope="row">
                         
                          <form action="/cart/delete/<%=x.item._id%>" method = "POST" class="deleteFormCart" data-id="<%=x.item._id%>">
                            <button type="submit" class="btn btn-dark">Delete</button>
                          </form>
                             
                        </td>
                      </tr>
                    <%})
                %>           
            </tbody>
          </table>
    </div>  
    <div class="container total">
      <h4>Tổng tiền: <span id="total1"><span id="total2"><%=total%></span></span></h4>
    </div>
</div>